
<div class="main-container">
  <header class="header header-1">
    <h3 class="header-title">{{ title }}</h3>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/images">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/videos">Videos</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>